<section></section>
    <div class="container" style="padding-top: 100px;">
        <div class="row">
            <div class="col-12 col-lg-4 boxes">
                <a href="/lostSomething"><div class="innerbox">
                    <h3><span style="font-size: 120pt;">Lost</span> something?</h3>
                </div></a>
            </div>
            <div class="col-12 col-lg-4 boxes">
                <a href="/views"><div class="innerbox">
                    <h3><span style="font-size: 100pt; text-align: center; vertical-align: middle; line-height: 65vh; color: white;">VIEW</span></h3>
                </div></a>
            </div>
            <div class="col-12 col-lg-4 boxes">
                <a href="/foundsomething"><div class="innerbox">
                    <h3><span style="font-size: 80pt;">Found</span> something?</h3>
                </div></a>
            </div>
        </div>
    </div>
</section>