<section class="lsfnpanel">
    <div class="container" style="padding-top: 100px;">
        <div class="row">
            <div class="col-12 col-lg-6 boxes p-3">
                <a href="/govAutherized"><div class="innerbox">
                    <h3 style="text-align: center; line-height: 0;"><span style="font-size: 120pt; vertical-align: middle; Line-height: 65vh;">Gov</span></h3>
                </div></a>
            </div>
            <div class="col-12 col-lg-6 boxes p-3">
                <a href="/other"><div class="innerbox">
                    <h3 style="text-align: center;"><span style="font-size: 86pt; vertical-align: middle; line-height: 65vh; color: white;">Other</span></h3>
                </div></a>
            </div>
            <div class="col-12 col-lg-4 boxes">
        </div>
    </div>
</section>